<h1>New Event</h1>
<%= form_for :event, url: events_path do |f| %>    <p>
    <%= f.label :name %><br>
      <%= f.text_field :name %>
    </p>

    <%= f.label :place %><br>
        <%= f.text_field :place %>
    </p>

    <%= f.label :short_description %><br>
    <%= f.text_field :short_description %>
    </p>

    <%= f.label :long_description %><br>
    <%= f.text_field :long_description %>
    </p>

    <p>
      <%= f.submit %>
    </p>
<% end %>